body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  main {
    width: 40%;
    height: auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
    background: #f4f7f8;
    padding: 8%;
    border-radius: 15px;
  }
  
  input {
    line-height: 2rem;
    border-radius: 5px;
    margin-top: 1%;
    margin-bottom: 3%;
  }
  
  a {
    display: inherit;
    text-decoration: none;  
  }
  
  
  .btn{
    width: 70%;
    margin: auto;
    margin-top: 3%;
    padding: 1%;
    border-radius: 10px;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
  }
  
  #Sign {
    background-color:  #2C3E50;
  }
  
  #Started {
      background-color: #3498DB;
  
  }
  
  @media (max-width: 768px) {
    main {
      width: 90%;
    }
    
  }