.list {
    display: flex;
    gap: 50px;
  }
  .list article {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: white;
  }
  .list article img {
    width: 100px;
    height: 100px;
  }
  .list article div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
 